.button{
    border:none;
    appearance: none;
    background: white;
    color:black;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
    width: 60px;
    border-radius: 12.5px;
    text-align: center;
}
.button:hover{
    background-color: #eeeaea
}