.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.list-wrapper{
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  height: 820px;
  margin-bottom: 50px;

}
.textInputBox{
  width:400px;
  height:100px;
  margin-right:60px;
}
.locationInputBox{
  width:400px;
  height:30px;
  margin-right:60px;
}
.button{
  margin-right: 30px;

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
