/* ViewNews style*/

.copy {
    position: absolute;
    left: 400 px;
    font-size:1rem;
    padding:4px;
    
    /*vertical-align: middle;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.img-container {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.img-container:hover img{
    position: relative;
    transform: scale(1.05);
    filter: blur(4px);
    transition: transform 1.0s, filter 1.0s;    
}

.file-links {
    padding: auto;
    position: absolute;
    top: 0%;
    left: 17.5%;
    display: flex;
    width: 300px;
    filter: drop-shadow(8px 8px 10px gray);
}

.save {
    padding: auto;
    position: absolute;
    top: 40%;
    left: 42.5%;
    display: flex;
    filter: drop-shadow(8px 8px 10px gray);
}

.img-links {
    padding: auto;
    position: absolute;
    top: 80%;
    left: 17.5%;
    display: flex;
    width: 300px;
    filter: drop-shadow(8px 8px 10px gray);
}